#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


h1 {
  margin-bottom: 2rem;
}
table {
  margin: 0;
  padding: 0;
  text-align: left;
  border-spacing: 0;
}

table > thead > tr > th {
  background-color: grey;
  padding: 8px 10px; 
}
td {
  padding: 8px 10px; 
  border: 1px solid;
  min-width: 25rem;
}


.active {
  background-color: rgb(87, 177, 87);
}

.cancelled {
  background-color: rgb(210, 100, 100);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media (max-width: 680px) {
  #root {
    max-width: 100% !important;
  }
  .css-hk9b8p-MuiStack-root {
    flex-direction: column !important;
    gap: 1rem !important;
    margin-top: 2rem !important;
  }
  .css-hk9b8p-MuiStack-root>:not(style)~:not(style) {
    margin-left: 0 !important;
  }
  .css-j0riat-MuiSelect-nativeInput,
  .css-j0riat-MuiSelect-nativeInput {
    position: static !important;
  }
  .css-d34j35-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-d34j35-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-d34j35-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
  .css-8jgc79-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-8jgc79-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-8jgc79-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    margin-left: 0 !important;
    padding-right: 8.5rem !important;
  }
  .css-u53mum-MuiPaper-root-MuiTableContainer-root,
  .css-jc98rf-MuiPaper-root-MuiTableContainer-root {
    height: 50vh !important;
    min-width: 80vw;
    max-width: 82.5vw;
  }
  .css-t8u0u-MuiTableCell-root,
  .css-19gpm78-MuiTableCell-root,
  .css-38ope2-MuiTableCell-root {
    min-width: 0 !important;
  }
  .css-1c5o7vy-MuiPagination-ul {
    flex-wrap: nowrap !important;
  }
  .css-f78p1j-MuiTypography-root {
    top: 20% !important;
  }
}